#game-board {
	background-color: $primary-color;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-area: 1 / 1 / 11 / 7;

	#notice {
		grid-area: 5 / 4 / 7 / 8;
		border: $secondary-color dashed 2px;
		color: rgb(255, 255, 255);
		display: flex;
		margin: 0;
		justify-content: center;
		align-items: center;
		font-family: $primary-font;
		font-size: .7rem;
	}

	#target-img {
		grid-area: 2 / 2 / 3 / 3 ;
	}
}

.black {
	background-color: $background-color!important;
}
