#board {
	background-color: rgb(114, 105, 105);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-area: 1 / 1 / 11 / 7;

	div {
		grid-area: 2 / 2 / 3 / 3 ;
		// grid-column: 2 / 3;
		// grid-row: 2 / 3;
		background-color: white;
	}
}

.black {
	background-color: black!important;
}
