#welcome-view-wrapper {
	position: absolute;
    display: flex;
	justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.35);
    width: 100vw;
    height: 100vh;
}

#welcome-view {
	display: flex;
	justify-content: center;
	z-index: 1;
}

#username-form {
	display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
	font-family: $primary-font;
    width: 50vw;
    height: 30vh;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#connectBtn {
	border: 2px solid $primary-color;
	font-family: $primary-font;
	border: $primary-color 2px dashed;
	text-transform: uppercase;
	padding: 0.2rem 0.8rem;
	letter-spacing: 0.2rem;

	&:hover {
		background-color: $primary-color;
		color: $secondary-color;
		box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.6);
	}
}
