#lobby-view {
	height: 88vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(10, 1fr);

	h3, h4 {
		font-family: $secondary-font;
		color: $primary-color;
	}

	h3 {
		font-size: 1.2rem;
		letter-spacing: 0.15rem;
	}

	h4 {
		font-size: 0.95rem;
		padding-top: 0.4rem;
		letter-spacing: 0.1rem;
	}
}

// indvidual divs in grid
#enter-game {
	background-color: rgb(107, 93, 93);
	grid-area: 9 / 6 / 11 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	text-align: center;

	button {
		background: none;
		border: $primary-color 2px dashed;
		color: $primary-color;
		font-family: $secondary-font;
		text-transform: uppercase;
		padding: 0.2rem 0.8rem;
		letter-spacing: 0.2rem;
		text-align: center;

		&:hover {
			background-color: $primary-color;
			color: $secondary-color;
			box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.6);
		}
	}

	h4 {
		padding-bottom: 0.2rem;
		line-height: 1.4rem;
	}
}

#highscore {
	background-color: rgb(107, 93, 93);
	grid-area: 1 / 1 / 2 / 11;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0.5rem 1.5rem;
	margin-bottom: 5px;

	h3 {
		margin: 0;
	}
}

#ongoing-games {
	background-color: rgb(107, 93, 93);
	grid-area: 2 / 6 / 5 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 5px;

	ul {
		margin: 0;
		padding: 0;

		li {
			font-weight: 700;
			list-style: none;
			padding: 0;
		}
	}
}

#ten-games {
	background-color: rgb(107, 93, 93);
	grid-area: 2 / 1 / 11 / 6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin-right: 5px;

	h3 {
		padding-top: 0.4rem;
	}
}

#users {
	background-color: rgb(107, 93, 93);
	grid-area: 5 / 6 / 9 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 5px;

	ul {
		margin: 0;
		padding: 5px;
		width: 80%;
		text-align: center;
		overflow-y: scroll;

		li {
			font-weight: 700;
			list-style: none;
			padding: 0;
			color: $primary-color;
		}

		#your-username {
			color: rgb(51, 249, 249);
		}
	}
}


