#points {

}

#scoreboard {
	background-color: rgb(161, 144, 144);
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: 1 / 7 / 11 / 9;

	div:nth-child(1) {
		margin-top: 1rem;
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		border: rgb(255, 255, 255) solid 1px;

		h2 {
			font-size: 1.1rem;
			margin: 0;
		}
	}
}

#time {

}
