#lobby-view {
	// background-color: rgb(143, 131, 131);
	height: 88vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 5px;

	h3, h4 {
		font-family: $secondary-font;
		color: $primary-color;
	}

	h3 {
		font-size: 1.2rem;
		padding-top: 0.6rem;
	}

	h4 {
		font-size: 1rem;
		padding-top: 0.2rem;
	}
}

// indvidual divs in grid
#enter-game {
	background-color: rgb(107, 93, 93);
	grid-area: 9 / 7 / 11 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	text-align: center;

	h4 {
		padding-bottom: 0.2rem;
		line-height: 1.4rem;
	}
}

#highscore {
	background-color: rgb(107, 93, 93);
	grid-area: 1 / 1 / 4 / 7;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

#rooms {
	background-color: rgb(107, 93, 93);
	grid-area: 1 / 7 / 5 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;

	ul {
		li {
			font-weight: 700;
			list-style: none;
			padding: 0;
		}
	}
}

#ten-games {
	background-color: rgb(107, 93, 93);
	grid-area: 4 / 1 / 11 / 7;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

#users {
	background-color: rgb(107, 93, 93);
	grid-area: 5 / 7 / 9 / 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;

	ul {
		li {
			font-weight: 700;
			list-style: none;
			padding: 0;
		}
	}
}


