// Colors
// $primary-color: rgb(60, 6, 94);
$primary-color: rgb(78, 75, 79);
// $secondary-color: rgb(51, 209, 234);
$light-color: white;
$dark-color: black;

// Fonts
$primary-font: 'Press Start 2P', Helvetica, Arial, sans-serif;
