// Colors
$primary-color: rgb(78, 75, 79);
$secondary-color: rgb(72, 227, 235);
$tertiary-color: rgb(243, 151, 46);
$light-color: white;
$dark-color: black;

// Fonts
$primary-font: 'Press Start 2P', Helvetica, Arial, sans-serif;
$logo-font: 

$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;
