.hide {
	display: none !important;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid-container {
	border-radius: 8px;
	background-color: $primary-color;
	padding: 0.5rem;
}

// Media-queries
@media screen and (min-width: $breakpoint-desktop) {

	.grid-container {
		padding: 1rem;
	}
}
